html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  background-color: #eeeeee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 767px) {
  .col-1 {
    max-width: 8.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
  }
  .col-2 {
    max-width: 16.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
  }
  .col-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-4 {
    max-width: 33.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
  }
  .col-5 {
    max-width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
  }
  .col-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-7 {
    max-width: 58.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
  }
  .col-8 {
    max-width: 66.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
  }
  .col-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-10 {
    max-width: 83.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
  }
  .col-11 {
    max-width: 91.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
  }
  .col-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.content {
  padding: 90px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.map-main {
  position: relative;
}

.map-color {
  position: absolute;
  padding: 10px;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 768px) {
  .map-color {
    position: initial;
    text-align: center;
  }
}

.map-color p {
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 1200px) {
  .map-color p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .map-color p {
    font-size: 18px;
    margin-bottom: 4px;
  }
}

@media only screen and (max-width: 768px) {
  .map-color p {
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .map-color ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.map-color ul li {
  margin-bottom: 8px;
  font-size: 20px;
}

@media only screen and (max-width: 1200px) {
  .map-color ul li {
    font-size: 16px;
    margin-bottom: 4px;
  }
}

@media only screen and (max-width: 992px) {
  .map-color ul li {
    font-size: 14px;
    margin-right: 8px;
  }
}

@media only screen and (max-width: 576px) {
  .map-color ul li {
    margin: 0 8px 8px 0;
  }
}

.map-color ul li:nth-child(1) span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #FFE153;
  margin-right: 2px;
}

@media only screen and (max-width: 768px) {
  .map-color ul li:nth-child(1) span {
    width: 10px;
    height: 10px;
  }
}

.map-color ul li:nth-child(2) span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #FFBB77;
  margin-right: 2px;
}

@media only screen and (max-width: 768px) {
  .map-color ul li:nth-child(2) span {
    width: 10px;
    height: 10px;
  }
}

.map-color ul li:nth-child(3) span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #D26900;
  margin-right: 2px;
}

@media only screen and (max-width: 768px) {
  .map-color ul li:nth-child(3) span {
    width: 10px;
    height: 10px;
  }
}

.map-color ul li:nth-child(4) span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #FF2D2D;
  margin-right: 2px;
}

@media only screen and (max-width: 768px) {
  .map-color ul li:nth-child(4) span {
    width: 10px;
    height: 10px;
  }
}

.map-color ul li:nth-child(5) span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #AE0000;
  margin-right: 2px;
}

@media only screen and (max-width: 768px) {
  .map-color ul li:nth-child(5) span {
    width: 10px;
    height: 10px;
  }
}

.map-color ul li:nth-child(6) span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #2F0000;
  margin-right: 2px;
}

@media only screen and (max-width: 768px) {
  .map-color ul li:nth-child(6) span {
    width: 10px;
    height: 10px;
  }
}

.map-content {
  text-align: center;
  font: 14px/16px Trebuchet MS, Helvetica, Arial, sans-serif;
  display: none;
  padding: 10px;
  border: 1px solid #EBECED;
  color: #edeef0;
  position: absolute;
  background: #494949;
  background: -webkit-gradient(linear, left top, left bottom, from(#494949), to(#656565));
  background: linear-gradient(to bottom, #494949 0%, #656565 100%);
}

.map-text p {
  font-weight: bolder;
  margin-bottom: 4px;
}

.map-text li {
  margin-bottom: 8px;
}

.map-text li:last-child {
  margin-bottom: 0;
}

.total-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 24px;
}

@media only screen and (max-width: 576px) {
  .total-data {
    display: block;
  }
}

.total-data li {
  margin-right: 10px;
  font-size: 48px;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .total-data li {
    font-size: 40px;
    border-bottom: gray solid 1px;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .total-data li {
    font-size: 28px;
  }
}

@media only screen and (max-width: 576px) {
  .total-data li {
    margin-bottom: 16px;
  }
}

.total-data li:nth-child(1) {
  color: green;
}

.total-data li:nth-child(2) {
  color: darkred;
}

.total-data li:nth-child(3) {
  color: darkred;
}

.total-data li p {
  color: black;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 8px;
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .total-data li p {
    font-size: 18px;
  }
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.error .text {
  background-color: white;
  padding: 10px;
  font-size: 40px;
}

@media only screen and (max-width: 768px) {
  .error .text {
    font-size: 32px;
  }
}

@media only screen and (max-width: 576px) {
  .error .text {
    font-size: 18px;
  }
}
/*# sourceMappingURL=all.css.map */