@mixin breakpoint($point) {
  @if ($point == xl) {
    @media only screen and(max-width: 1200px) {
      @content;
    }
  } @else if ($point == lg) {
    @media only screen and(max-width: 992px) {
      @content;
    }
  } @else if ($point == md) {
    @media only screen and(max-width: 768px) {
      @content;
    }
  } @else if ($point == sm) {
    @media only screen and(max-width: 576px) {
      @content;
    }
  }
}

@mixin color($color) {
  span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: $color;
    margin-right: 2px;
    @include breakpoint(md) {
      width: 10px;
      height: 10px;
    }
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}