@mixin breakpoint($point) {
  @if ($point == xl) {
    @media only screen and(max-width: 1200px) {
      @content;
    }
  } @else if ($point == lg) {
    @media only screen and(max-width: 992px) {
      @content;
    }
  } @else if ($point == md) {
    @media only screen and(max-width: 768px) {
      @content;
    }
  } @else if ($point == sm) {
    @media only screen and(max-width: 576px) {
      @content;
    }
  }
}

@mixin color($color) {
  span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: $color;
    margin-right: 4px;
    @include breakpoint(md) {
      width: 10px;
      height: 10px;
    }
  }
}

@mixin color-base($px,$color) {
  position: absolute;
	padding: 10px;
	bottom: $px;
	left: 0;
	@include breakpoint(md) {
		position: initial;
		text-align: center;
	}
	p {
		font-weight: bolder;
		font-size: 24px;
		margin-bottom: 8px;
		@include breakpoint(xl) {
			font-size: 20px;
		}
		@include breakpoint(lg) {
			font-size: 18px;
			margin-bottom: 4px;
		}
		@include breakpoint(md) {
			margin-bottom: 8px;
		}
	}
	ul {
		@include breakpoint(md) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		li {
      display: flex;
      align-items: center;
			margin-bottom: 8px;
			font-size: 20px;
			@include breakpoint(xl) {
				font-size: 16px;
				margin-bottom: 4px;
			}
			@include breakpoint(lg) {
				font-size: 14px;
				margin-right: 8px;
			}
			@include breakpoint(sm) {
				margin: 0 8px 8px 0;
			}
			&:nth-child(1) {
				@include color($color)
			}
			&:nth-child(2) {
				@include color(#FFBB77)
			}
			&:nth-child(3) {
				@include color(#D26900)
			}
			&:nth-child(4) {
				@include color(#FF2D2D)
			}
			&:nth-child(5) {
				@include color(#AE0000)
			}
			&:nth-child(6) {
				@include color(#2F0000)
			}
		}
	}
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}