.main-tw {
  position: relative;
  display: flex;
  @include breakpoint(lg) {
    flex-flow: column;
  }
  svg {
    height: 100vh;
    @include breakpoint(md) {
      height: auto;
    }
  }
  path {
    stroke: white;
    transition: 0.5s;
    cursor: pointer;
  }
  .title_area {
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 30px;
  }
  
  .title_area {
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 30px;
  }
}

.map-tw {
  @include breakpoint(lg) {
    text-align: center
  }
}

.color-tw {
  @include color-base(100px,green,lg);
}

.content-tw {
  background: #eeeeee;
  position: absolute;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,.15);
}

.text-tw {
  h2 {
    font-size: 24px;
    font-weight:bolder;
    margin-bottom: 10px;
    text-align: center;
  }
  p {
    font-size: 18px;
  }
}

.table-tw {
  width: 100%;
  margin-top: 40px;
  @include breakpoint(md) {
    margin-top: 24px;
  }
  @include breakpoint(sm) {
    margin-top: 8px;
  }
  table {
    width: 100%;
  }
  thead {
    background-color: #595959;
    tr > th {
      padding: 10px 0;
      color: white;
      font-weight: bolder;
      font-size: 18px;
      @include breakpoint(sm) {
        font-size: 16px;
      }
    }
  }
  tbody {
    tr > td {
      padding: 10px 0;
      border-bottom:#cecece solid 1px ;
    }
  }
}