.main-tw {
  position: relative;
  svg {
    height: 100vh;
  }
  path {
    stroke: white;
    transition: 0.5s;
    cursor: pointer;
  }
  .title_area {
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 30px;
  }
  
  .title_area {
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 30px;
  }
}

.color-tw {
  @include color-base(100px,green);
}

.content-tw {
  background: #eeeeee;
  position: absolute;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,.15);
}

.text-tw {
  h2 {
    font-size: 24px;
    font-weight:bolder;
    margin-bottom: 10px;
    text-align: center;
  }
  p {
    font-size: 18px;
  }
}