.main-world {
	position: relative;
	margin-bottom: 48px;
	@include breakpoint(md) {
		margin-bottom: 24px;
	}
	@include breakpoint(sm) {
		margin-bottom: 0px;
	}
}

.color-world {
	@include color-base(0,#FFE153);
}

.content-world {
	font: 14px/16px Trebuchet MS, Helvetica, Arial, sans-serif;
	display: none;
	padding: 10px;
	color: #edeef0;
	position: absolute;
	background: #eeeeee;
	@include breakpoint(sm) {
		top: 72% !important;
		left: 50% !important;
		transform: translate(-50%, -50%);
	}
}

.text-world {
	p {
		font-size: 24px;
		font-weight:bolder;
		margin-bottom: 10px;
		text-align: center;
	}
	li {
		padding-left: 25px;
		font-size: 18px;
		margin-bottom: 12px;
		color: black;
		&:first-child() {
			padding-left: 0	;
		}
		&:last-child {
			margin-bottom: 0;
		}
		@include breakpoint(sm) {
			padding: 0;
			margin-bottom: 16px;
			@include flex-center;
			flex-flow: column;
		}
		img {
			width: 50%;
			margin: 0 auto;
		}
		span {
			span {
				@include breakpoint(sm) {
					display: none;
				}
			}
			@include breakpoint(sm) {
				margin-bottom: 8px;
			}
		}
	}
}

.total-world {
	display: flex;
	justify-content: space-around;
	margin-bottom: 24px;
	@include breakpoint(sm) {
		flex-flow: column;
		align-items: center;
		margin-bottom: 16px;
	}
	li {
		margin-right: 10px;
		font-size: 48px;
		text-align: center;
		@include breakpoint(lg) {
			font-size: 40px;
			width: 50%;
			margin: 0 auto;
			padding-bottom: 10px;
		}
		@include breakpoint(md) {
			font-size: 28px;
		}
		@include breakpoint(sm) {
			margin-bottom: 16px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&:nth-child(1) {
			color: green;
		}
		&:nth-child(2) {
			color: darkred;
		}
		&:nth-child(3) {
			color: darkred;
		}
		p {
			color: black;
			text-align: center;
			font-weight: bolder;
			margin-bottom: 8px;
			font-size: 24px;
			@include breakpoint(md) {
				font-size: 18px;
			}
		}
		span {
			display: block;
			@include breakpoint(sm) {
				display: inline-block;
				padding: 0 6px 4px;
				border-bottom: gray solid 1px;
			}
		}
	}
}

.table-world {
	width: 100%;
	thead {
		background-color: #595959;
		tr > th {
			padding: 10px 0;
			color: white;
			font-weight: bolder;
			font-size: 18px;
			@include breakpoint(sm) {
					font-size: 16px;
				}
			&:nth-child(2) {
				width: 10%;
				@include breakpoint(lg) {
					width: 25%;
				}
			}
		}
	}
	tbody {
		tr > td {
			padding: 10px 0;
			border-bottom:#cecece solid 1px ;
		}
	}
}
