	.map-main {
		position: relative;
	}
	
	.map-color {
		position: absolute;
		padding: 10px;
		bottom: 0;
		left: 0;
		@include breakpoint(md) {
			position: initial;
			text-align: center;
		}
		p {
			font-weight: bolder;
			font-size: 24px;
			margin-bottom: 8px;
			@include breakpoint(xl) {
				font-size: 20px;
			}
			@include breakpoint(lg) {
				font-size: 18px;
				margin-bottom: 4px;
			}
			@include breakpoint(md) {
				margin-bottom: 8px;
			}
		}
		ul {
			@include breakpoint(md) {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}
			li {
				margin-bottom: 8px;
				font-size: 20px;
				@include breakpoint(xl) {
					font-size: 16px;
					margin-bottom: 4px;
				}
				@include breakpoint(lg) {
					font-size: 14px;
					margin-right: 8px;
				}
				@include breakpoint(sm) {
					margin: 0 8px 8px 0;
				}
				&:nth-child(1) {
					@include color(#FFE153)
				}
				&:nth-child(2) {
					@include color(#FFBB77)
				}
				&:nth-child(3) {
					@include color(#D26900)
				}
				&:nth-child(4) {
					@include color(#FF2D2D)
				}
				&:nth-child(5) {
					@include color(#AE0000)
				}
				&:nth-child(6) {
					@include color(#2F0000)
				}
			}
		}
	}
	
	.map-content {
		text-align:center;
		font: 14px/16px Trebuchet MS, Helvetica, Arial, sans-serif;
		display: none;
		padding: 10px;
		border: 1px solid #EBECED;
		color: #edeef0;
		position: absolute;
		background: rgb(73, 73, 73);
		background: linear-gradient(to bottom, rgba(73, 73, 73, 1) 0%, rgba(101, 101, 101, 1) 100%);
	}
	
	.map-text {
		p {
			font-weight:bolder;
			margin-bottom: 4px;
		}
		li {
			margin-bottom: 8px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	.total-data {
		display: flex;
		justify-content: space-around;
		margin-bottom: 24px;
		@include breakpoint(sm) {
			display: block;
		}
		li {
			margin-right: 10px;
			font-size: 48px;
			text-align: center;
			@include breakpoint(lg) {
				font-size: 40px;
				border-bottom: gray solid 1px;
				width: 50%;
				margin: 0 auto;
				padding-bottom: 10px;
			}
			@include breakpoint(md) {
				font-size: 28px;
			}
			@include breakpoint(sm) {
				margin-bottom: 16px;
			}
			&:nth-child(1) {
				color: green;
			}
			&:nth-child(2) {
				color: darkred;
			}
			&:nth-child(3) {
				color: darkred;
			}
			p {
				color: black;
				text-align: center;
				font-weight: bolder;
				margin-bottom: 8px;
				font-size: 24px;
				@include breakpoint(md) {
					font-size: 18px;
				}
			}
		}
	}
	.error {
		position: absolute;
		top:50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		width: 100%;
		@include flex-center;
		.text {
			background-color: white;
			padding: 10px;
			font-size: 40px;
			@include breakpoint(md) {
				font-size: 32px;
			}
			@include breakpoint(sm) {
				font-size: 18px;
			}
		}
		display: none;
	}
	